<h1 class="text-center">Account Login</h1>





<form action="/account" method="POST" class="mt-5">
  <div class="form-group">
    <input type="email" placeholder="Email" name="email" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" name="password" class="form-control" id="exampleInputPassword1">
  </div>

  <button type="submit" class="btn btn-success">Sign in</button>
</form>