<!-- ./views/layouts/new.handlebars -->
<form action="/todos" method="POST">
  {{!-- name="" 是 HTTP 傳輸時的資料名稱。這些資料會被放在 HTTP 的 request body 裡，進到 Express.js 以後打包成 req.body 物件，就能在後續流程中使用 --}}
  <div class="input-group mb-3">
    <input type="text" placeholder="name" name="name" class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>